/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
/* line 53, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: #000;
  background-color: #dcdcdc;
}
/* line 53, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: #000;
  background-color: #dcdcdc;
}

/* line 18, ../sass/screen.scss */
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 36, ../sass/screen.scss */
input:focus,
textarea:focus,
select:focus {
  outline: 1px solid rgba(33, 156, 197, 0.6);
  -moz-box-shadow: 0 0 6px rgba(33, 156, 197, 0.4);
  -webkit-box-shadow: 0 0 6px rgba(33, 156, 197, 0.4);
  box-shadow: 0 0 6px rgba(33, 156, 197, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 43, ../sass/screen.scss */
input[type='submit']:focus {
  outline: none;
}

/* line 46, ../sass/screen.scss */
body {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.3;
  min-width: 1024px;
}

/* line 52, ../sass/screen.scss */
input[type="text"],
input[type="password"] {
  padding: 10px 24px;
  border: 1px solid #9a9a9a;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  height: 41px;
  line-height: 1.2;
}

/* line 65, ../sass/screen.scss */
textarea {
  padding: 18px;
  border: 1px solid #9a9a9a;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  resize: vertical;
  display: block;
}

/* line 76, ../sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 79, ../sass/screen.scss */
a {
  color: #219cc5;
}
/* line 81, ../sass/screen.scss */
a:hover {
  color: #000;
}

/* line 86, ../sass/screen.scss */
p {
  margin-bottom: 20px;
  margin-top: 11px;
}

/* line 90, ../sass/screen.scss */
h2,
.title-big {
  font-size: 26px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

/* line 97, ../sass/screen.scss */
h3,
.title-normal {
  font-size: 22px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 107, ../sass/screen.scss */
h4,
.title-small {
  font-size: 18px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

/* line 114, ../sass/screen.scss */
h4 a {
  text-decoration: none;
}

/* line 117, ../sass/screen.scss */
h5,
.title-xsmall {
  font-size: 15px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
}

/* line 124, ../sass/screen.scss */
select {
  padding: 10px 24px;
  margin: 0;
  border: 1px solid #9a9a9a;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 38px;
  background-image: url(../img/select.png);
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  height: 41px;
  line-height: 1.2;
}

/* line 141, ../sass/screen.scss */
select::-ms-expand {
  display: none;
}

/* line 144, ../sass/screen.scss */
ol {
  list-style: inside decimal;
}

/* line 155, ../sass/screen.scss */
input[type="submit"] {
  padding: 10px 24px;
  margin: 0;
  border: 1px solid transparent;
  background: #219cc5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  height: 41px;
  line-height: 1.2;
  cursor: pointer;
}

/* line 168, ../sass/screen.scss */
.container {
  min-width: 1024px;
  margin: 0 auto;
  max-width: 90%;
}
/* line 173, ../sass/screen.scss */
.container.white {
  background: #fff;
}

/* line 177, ../sass/screen.scss */
#head {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}
/* line 180, ../sass/screen.scss */
#head .head-top .wrapper,
#head .head-menu .wrapper {
  display: table;
  width: 100%;
}
/* line 185, ../sass/screen.scss */
#head .head-top .wrapper > div,
#head .head-menu .wrapper > div {
  display: table-cell;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 193, ../sass/screen.scss */
#head .search {
  width: 100%;
  white-space: nowrap;
}
/* line 196, ../sass/screen.scss */
#head .search input[type="text"] {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
  min-width: 230px;
  float: left;
}
/* line 203, ../sass/screen.scss */
#head .search input[type="submit"] {
  margin-left: 12px;
  float: left;
}
/* line 207, ../sass/screen.scss */
#head .search select {
  float: left;
  border-left: 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
/* line 214, ../sass/screen.scss */
#head .location {
  text-align: right;
}
/* line 217, ../sass/screen.scss */
#head .logo {
  width: 191px;
  padding-right: 40px;
}
/* line 222, ../sass/screen.scss */
#head .head-menu {
  font-size: 17px;
}
/* line 223, ../sass/screen.scss */
#head .head-menu.white {
  background: #fff;
}
/* line 227, ../sass/screen.scss */
#head .head-menu a {
  text-decoration: none;
}
/* line 232, ../sass/screen.scss */
#head .head-menu ul li {
  display: inline-block;
  margin-right: 16px;
}
/* line 239, ../sass/screen.scss */
#head .head-menu .align-l ul li {
  display: inline-block;
  margin-left: 0;
  margin-right: 16px;
}
/* line 248, ../sass/screen.scss */
#head .head-menu .align-r ul li {
  display: inline-block;
  margin-right: 0;
  margin-left: 16px;
}
/* line 257, ../sass/screen.scss */
#head .user-links ul li {
  margin-right: 0;
  margin-left: 16px;
}
/* line 261, ../sass/screen.scss */
#head .user-links a {
  text-decoration: none;
}
/* line 264, ../sass/screen.scss */
#head .user-links .profile-link {
  padding: 5px 0 5px 30px;
  background: url("../img/user-icon.png") 0 50% no-repeat;
  position: relative;
}
/* line 268, ../sass/screen.scss */
#head .user-links .profile-link .num {
  position: absolute;
  right: 90%;
  line-height: 20px;
  top: -8px;
  height: 20px;
  text-align: center;
  min-width: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0 6px;
  background: #d75341;
  color: #fff;
  text-decoration: none;
}

/* line 290, ../sass/screen.scss */
.sub-head {
  padding: 130px 0;
  background: #f5f5f5;
  text-align: center;
}
/* line 294, ../sass/screen.scss */
.sub-head .bt {
  margin: 0 25px;
}

/* line 298, ../sass/screen.scss */
#main {
  margin: 40px 0 30px;
}
/* line 300, ../sass/screen.scss */
#main .col {
  width: 66.66667%;
  float: left;
}
/* line 308, ../sass/screen.scss */
#main .sidebar {
  width: 33.33333%;
}
/* line 310, ../sass/screen.scss */
#main .sidebar h2 {
  margin-bottom: 20px;
}
/* line 315, ../sass/screen.scss */
#main .sidebar.profile.lcol {
  width: 260px;
}
/* line 318, ../sass/screen.scss */
#main .sidebar ul {
  font-family: 'Istok Web', sans-serif;
  margin-right: 28px;
  margin-bottom: 40px;
  font-weight: bold;
}
/* line 323, ../sass/screen.scss */
#main .sidebar ul li {
  margin-bottom: 4px;
}
/* line 325, ../sass/screen.scss */
#main .sidebar ul li a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid tranparent;
}
/* line 331, ../sass/screen.scss */
#main .sidebar ul li a:hover {
  background: #219CC5;
  color: #fff;
}
/* line 336, ../sass/screen.scss */
#main .sidebar ul li.active a {
  border: 1px solid #000;
  background: none;
  color: #000;
}
/* line 344, ../sass/screen.scss */
#main .sidebar span.num {
  line-height: 25px;
  height: 24px;
  display: inline-block;
  text-align: center;
  min-width: 24px;
  font-size: 13px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0 6px;
  background: #D75341;
  color: #FFF;
  text-decoration: none;
}

/* line 362, ../sass/screen.scss */
#main .col.w160 {
  width: 160px;
  float: right;
}
/* line 366, ../sass/screen.scss */
#main .col.w160 input[type="text"] {
  margin-bottom: 20px;
}
/* line 370, ../sass/screen.scss */
#main .col.w160 ul li {
  margin-bottom: 10px;
}
/* line 374, ../sass/screen.scss */
#main .col.w230 {
  width: 230px;
  float: right;
}
/* line 377, ../sass/screen.scss */
#main .col.w230 > div {
  vertical-align: middle;
}
/* line 380, ../sass/screen.scss */
#main .col.w230 .inline {
  margin-bottom: 22px;
}
/* line 384, ../sass/screen.scss */
#main .col.w120 {
  width: 120px;
  float: left;
  font-size: 17px;
  padding-top: 7px;
}
/* line 389, ../sass/screen.scss */
#main .col.w120 a {
  text-decoration: none;
}
/* line 393, ../sass/screen.scss */
#main .col.m140 {
  margin-left: 140px;
  width: auto;
  line-height: 1.5;
  float: none;
}
/* line 398, ../sass/screen.scss */
#main .col.m140 .inline {
  margin-left: 12px;
}
/* line 401, ../sass/screen.scss */
#main .col.m140 .rcol {
  margin-left: 20px;
}
/* line 404, ../sass/screen.scss */
#main .col.m140 .title {
  white-space: nowrap;
}
/* line 406, ../sass/screen.scss */
#main .col.m140 .title > * {
  display: inline-block;
}
/* line 409, ../sass/screen.scss */
#main .col.m140 .title .date {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-left: 6px;
}
/* line 416, ../sass/screen.scss */
#main .col.m140 .row {
  margin-bottom: 30px;
}
/* line 421, ../sass/screen.scss */
#main .col-main {
  line-height: 1.5;
  margin-left: 295px;
  margin-right: 210px;
  padding-top: 47px;
}
/* line 427, ../sass/screen.scss */
#main .col-main .row {
  margin-bottom: 50px;
}
/* line 429, ../sass/screen.scss */
#main .col-main .row.ovh {
  overflow: hidden;
}
/* line 434, ../sass/screen.scss */
#main .col.m235 {
  margin-left: 235px;
  margin-right: 235px;
  line-height: 1.5;
  width: auto;
  float: none;
}
/* line 441, ../sass/screen.scss */
#main .col.m235 .rating {
  margin-bottom: 45px;
}
/* line 443, ../sass/screen.scss */
#main .col.m235 .rating strong {
  font-family: 'Istok Web', sans-serif;
  font-size: 22px;
}
/* line 447, ../sass/screen.scss */
#main .col.m235 .rating ul li {
  display: inline-block;
  vertical-align: middle;
}
/* line 450, ../sass/screen.scss */
#main .col.m235 .rating ul li:first-child {
  margin-right: 20px;
}
/* line 453, ../sass/screen.scss */
#main .col.m235 .rating ul li.plus, #main .col.m235 .rating ul li.minus {
  width: 40px;
  font-family: 'Istok Web', sans-serif;
  font-size: 26px;
  font-weight: bold;
  height: 40px;
  line-height: 44px;
  text-align: center;
  background: #219cc5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  margin-left: 8px;
}
/* line 471, ../sass/screen.scss */
#main .image-c {
  width: 180px;
  height: 180px;
  line-height: 0;
  padding: 4px;
  border: 1px solid #dcdcdc;
}
/* line 478, ../sass/screen.scss */
#main .image-c img {
  max-width: 100%;
}
/* line 482, ../sass/screen.scss */
#main .nmr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 486, ../sass/screen.scss */
#main .margin-r {
  margin-right: 0 !important;
}
/* line 490, ../sass/screen.scss */
#main .chat .row:nth-child(odd) {
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 495, ../sass/screen.scss */
#main .chat .row {
  padding: 27px;
  margin-bottom: 20px;
}

/* line 501, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}
/* line 26, ../sass/screen.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 504, ../sass/screen.scss */
.col-2 {
  width: 50%;
  float: left;
  margin-bottom: 40px;
  padding-right: 30px;
}

/* line 511, ../sass/screen.scss */
.item-cont {
  margin-bottom: 40px;
}

/* line 514, ../sass/screen.scss */
.col-3 {
  width: 33.33333%;
  float: left;
  padding-right: 30px;
}

/* line 521, ../sass/screen.scss */
.col-half {
  width: 50%;
  float: left;
}

/* line 525, ../sass/screen.scss */
.col-c {
  margin-left: 80px;
}
/* line 527, ../sass/screen.scss */
.col-c p {
  margin-bottom: 10px;
  margin-top: 5px;
}
/* line 531, ../sass/screen.scss */
.col-c .more {
  font-weight: bold;
  margin-bottom: 14px;
}

/* line 540, ../sass/screen.scss */
.col-i {
  width: 60px;
  height: 60px;
  float: left;
  padding: 4px;
  border: 1px solid #dcdcdc;
}
/* line 546, ../sass/screen.scss */
.col-i img {
  max-width: 100%;
}

/* line 549, ../sass/screen.scss */
.bt {
  padding: 10px 24px;
  font-size: 17px;
  line-height: normal;
  background-color: #219cc5;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
}
/* line 561, ../sass/screen.scss */
.bt:hover {
  color: #219cc5;
  background-color: #fff;
  border-color: #219cc5;
}
/* line 566, ../sass/screen.scss */
.bt.small {
  font-size: 15px;
  padding: 8px 20px;
}
/* line 571, ../sass/screen.scss */
.bt.square {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 574, ../sass/screen.scss */
.bt.rounded {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
/* line 577, ../sass/screen.scss */
.bt.invert {
  color: #219cc5;
  background: transparent;
  border-color: #219cc5;
}
/* line 581, ../sass/screen.scss */
.bt.invert:hover {
  background: #219cc5;
  color: #fff;
}
/* line 585, ../sass/screen.scss */
.bt.invert.dotted {
  border: 1px dashed #219cc5;
}
/* line 589, ../sass/screen.scss */
.bt.green {
  background: #52b266;
  border: 1px solid transparent;
}
/* line 592, ../sass/screen.scss */
.bt.green:hover {
  color: #fff;
  border: 1px solid transparent;
}

/* line 599, ../sass/screen.scss */
#company-catalog {
  margin: 30px 0;
}
/* line 600, ../sass/screen.scss */
#company-catalog ol {
  color: #868686;
  font-weight: bold;
}
/* line 601, ../sass/screen.scss */
#company-catalog ol a {
  text-decoration: none;
}
/* line 606, ../sass/screen.scss */
#company-catalog ol li {
  margin-bottom: 18px;
}

/* line 612, ../sass/screen.scss */
#reviews {
  background: #f5f5f5;
  line-height: 1.4;
  padding: 30px 0;
  margin: 30px 0;
}
/* line 617, ../sass/screen.scss */
#reviews .review {
  padding: 0 50px;
}
/* line 618, ../sass/screen.scss */
#reviews .review:before {
  width: 27px;
  height: 23px;
  background: url("../img/quote-l.png") no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 42px;
}
/* line 628, ../sass/screen.scss */
#reviews .review:after {
  width: 27px;
  height: 23px;
  background: url("../img/quote-r.png") no-repeat;
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
/* line 642, ../sass/screen.scss */
#reviews .title {
  color: #868686;
  font-style: normal;
  font-family: 'Istok Web', sans-serif;
  margin-bottom: 30px;
}
/* line 647, ../sass/screen.scss */
#reviews .title strong {
  color: #000;
  padding-right: 10px;
  font-size: 18px;
}

/* line 655, ../sass/screen.scss */
#footer {
  background: #f5f5f5;
  padding: 30px 0 100px;
}
/* line 658, ../sass/screen.scss */
#footer a {
  color: #666;
  text-decoration: none;
}
/* line 662, ../sass/screen.scss */
#footer .menu {
  float: left;
}
/* line 664, ../sass/screen.scss */
#footer .menu li {
  display: inline-block;
  margin-right: 16px;
}
/* line 669, ../sass/screen.scss */
#footer .copy {
  float: right;
  margin-left: 30px;
}
/* line 673, ../sass/screen.scss */
#footer .soc {
  float: right;
  margin-left: 30px;
}
/* line 676, ../sass/screen.scss */
#footer .soc li {
  display: inline-block;
  background: url("../img/soc-icons.png") 0 0 no-repeat;
}
/* line 679, ../sass/screen.scss */
#footer .soc li.fb {
  background-position: 0 0;
}
/* line 682, ../sass/screen.scss */
#footer .soc li.ig {
  background-position: 100% 0;
}
/* line 686, ../sass/screen.scss */
#footer .soc a {
  display: block;
  width: 16px;
  height: 16px;
}

/* line 693, ../sass/screen.scss */
.row {
  margin-bottom: 30px;
}

/* line 696, ../sass/screen.scss */
.rcol {
  float: right;
}
/* line 698, ../sass/screen.scss */
.rcol .bt {
  margin-left: 16px;
}

/* line 702, ../sass/screen.scss */
.lcol {
  float: left;
}

/* line 705, ../sass/screen.scss */
.align-l {
  text-align: left;
}

/* line 708, ../sass/screen.scss */
.align-c {
  text-align: center;
}

/* line 711, ../sass/screen.scss */
.align-r {
  text-align: right;
  padding-left: 15px;
}

/* line 715, ../sass/screen.scss */
.f-width {
  width: 100%;
}

/* line 719, ../sass/screen.scss */
.item-title {
  font-size: 18px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 724, ../sass/screen.scss */
.item-title a {
  text-decoration: none;
}

/* line 728, ../sass/screen.scss */
.price {
  font-size: 22px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 734, ../sass/screen.scss */
.descr {
  margin-bottom: 20px;
}

/* line 737, ../sass/screen.scss */
.inline {
  display: inline-block;
}
/* line 739, ../sass/screen.scss */
.inline.ml {
  margin-left: 30px;
}
/* line 742, ../sass/screen.scss */
.inline.mr {
  margin-right: 30px;
}

/* line 746, ../sass/screen.scss */
.steps {
  font-size: 18px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 751, ../sass/screen.scss */
.steps ul {
  display: table;
  width: 80%;
}
/* line 754, ../sass/screen.scss */
.steps ul li {
  display: table-cell;
  padding-right: 2%;
  color: #cfcfcf;
}
/* line 758, ../sass/screen.scss */
.steps ul li span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 15px;
  background: #cfcfcf;
  color: #fff;
}
/* line 771, ../sass/screen.scss */
.steps ul li.active {
  color: #000;
}
/* line 773, ../sass/screen.scss */
.steps ul li.active span {
  color: #fff;
  background: #000;
}

/* line 782, ../sass/screen.scss */
.soc-login {
  margin-bottom: 22px;
}
/* line 784, ../sass/screen.scss */
.soc-login li {
  display: inline-block;
  background: url("../img/soc-login.png") 0 0 no-repeat;
  margin-right: 10px;
}
/* line 788, ../sass/screen.scss */
.soc-login li.fb {
  background-position: 0 0;
}
/* line 791, ../sass/screen.scss */
.soc-login li.vk {
  background-position: -126px 0;
}
/* line 794, ../sass/screen.scss */
.soc-login li.od {
  background-position: -168px 0;
}
/* line 797, ../sass/screen.scss */
.soc-login li.tw {
  background-position: -43px 0;
}
/* line 800, ../sass/screen.scss */
.soc-login li.in {
  background-position: -84px 0;
}
/* line 805, ../sass/screen.scss */
.soc-login a {
  display: block;
  width: 32px;
  height: 32px;
}
/* line 810, ../sass/screen.scss */
.soc-login.small {
  display: inline-block;
}
/* line 812, ../sass/screen.scss */
.soc-login.small a {
  display: block;
  width: 21px;
  height: 21px;
}
/* line 817, ../sass/screen.scss */
.soc-login.small li {
  background-size: cover;
  margin-right: 0;
  margin-left: 4px;
}
/* line 821, ../sass/screen.scss */
.soc-login.small li.fb {
  background-position: 0 0;
}
/* line 824, ../sass/screen.scss */
.soc-login.small li.vk {
  background-position: -80px 0;
}
/* line 827, ../sass/screen.scss */
.soc-login.small li.od {
  background-position: -106px 0;
}
/* line 830, ../sass/screen.scss */
.soc-login.small li.tw {
  background-position: -27px 0;
}
/* line 833, ../sass/screen.scss */
.soc-login.small li.in {
  background-position: -54px 0;
}

/* line 842, ../sass/screen.scss */
.form-horizontal .col-half:nth-child(1) {
  width: 60%;
}
/* line 845, ../sass/screen.scss */
.form-horizontal .col-half:nth-child(2) {
  width: 40%;
}
/* line 848, ../sass/screen.scss */
.form-horizontal .col-half .border-text {
  margin-left: 35%;
}
/* line 852, ../sass/screen.scss */
.form-horizontal .col-half > .row.mleft {
  margin-left: 35%;
}
/* line 856, ../sass/screen.scss */
.form-horizontal .col-half:nth-child(2) {
  padding-left: 60px;
}
/* line 861, ../sass/screen.scss */
.form-horizontal p {
  margin-top: 0;
  line-height: 1.5;
}
/* line 864, ../sass/screen.scss */
.form-horizontal p.mtop {
  margin-top: 11px;
}
/* line 869, ../sass/screen.scss */
.form-horizontal .bt {
  margin-right: 10px;
}
/* line 872, ../sass/screen.scss */
.form-horizontal .row {
  margin-bottom: 30px !important;
  *zoom: 1;
}
/* line 26, ../sass/screen.scss */
.form-horizontal .row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 875, ../sass/screen.scss */
.form-horizontal .row label {
  float: left;
  white-space: nowrap;
  width: 35%;
  text-align: right;
  padding-right: 20px;
  padding-top: 11px;
}
/* line 884, ../sass/screen.scss */
.form-horizontal .row input[type="text"],
.form-horizontal .row input[type="password"] {
  width: 60%;
  float: left;
}
/* line 890, ../sass/screen.scss */
.form-horizontal .row select {
  width: 65%;
}
/* line 895, ../sass/screen.scss */
.form-horizontal.login .row {
  *zoom: 1;
}
/* line 26, ../sass/screen.scss */
.form-horizontal.login .row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 897, ../sass/screen.scss */
.form-horizontal.login .row label {
  float: left;
  white-space: nowrap;
  width: 35%;
  text-align: right;
  padding-right: 20px;
  padding-top: 11px;
}
/* line 905, ../sass/screen.scss */
.form-horizontal.login .row input[type="text"],
.form-horizontal.login .row input[type="password"] {
  width: 45%;
  float: left;
}
/* line 911, ../sass/screen.scss */
.form-horizontal.login .row .rcol {
  width: 20%;
  text-align: left;
  padding-left: 20px;
  padding-top: 11px;
  white-space: nowrap;
}

/* line 921, ../sass/screen.scss */
.item {
  position: relative;
}

/* line 925, ../sass/screen.scss */
#comments .title {
  color: #868686;
}
/* line 927, ../sass/screen.scss */
#comments .title strong {
  color: #000;
  padding-right: 10px;
}
/* line 932, ../sass/screen.scss */
#comments textarea {
  margin-bottom: 20px;
}

/* line 942, ../sass/screen.scss */
ul.list {
  display: table;
  font-weight: bold;
}
/* line 945, ../sass/screen.scss */
ul.list li {
  white-space: nowrap;
  padding-right: 16px;
  display: table-cell;
  vertical-align: top;
}
/* line 950, ../sass/screen.scss */
ul.list li i {
  font-weight: normal;
  font-style: italic;
}
/* line 954, ../sass/screen.scss */
ul.list li:last-child {
  white-space: normal;
}
/* line 957, ../sass/screen.scss */
ul.list li.align-r {
  padding-right: 0;
}
/* line 960, ../sass/screen.scss */
ul.list li.v-middle {
  vertical-align: middle;
}
/* line 962, ../sass/screen.scss */
ul.list li.v-middle.align-r:last-child {
  min-width: 145px;
}

/* line 968, ../sass/screen.scss */
.info {
  font-weight: bold;
  font-size: 16px;
  padding-left: 52px;
  background: url(../img/info.png) 0 30px no-repeat;
}

/* line 974, ../sass/screen.scss */
.filter {
  margin-bottom: 40px;
}
/* line 976, ../sass/screen.scss */
.filter .row:first-of-type {
  margin-right: 100px;
}
/* line 979, ../sass/screen.scss */
.filter a,
.filter span {
  margin-left: 10px;
}
/* line 983, ../sass/screen.scss */
.filter .active {
  font-weight: bold;
}

/* line 987, ../sass/screen.scss */
div.border {
  border: 1px solid #9a9a9a;
  padding: 27px;
}
/* line 990, ../sass/screen.scss */
div.border.square {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 994, ../sass/screen.scss */
.item {
  margin-bottom: 30px;
}
/* line 996, ../sass/screen.scss */
.item > .row:last-child {
  margin-bottom: 0 !important;
}
/* line 998, ../sass/screen.scss */
.item > .row:last-child h3, .item > .row:last-child h4 {
  margin-bottom: 0;
}

/* line 1003, ../sass/screen.scss */
.blue {
  color: #219cc5;
}

/* line 1006, ../sass/screen.scss */
input:disabled {
  background: #f6f6f6;
  border: 1px solid #9a9a9a;
  color: #999;
}
/* line 1010, ../sass/screen.scss */
input:disabled:hover {
  background: #f6f6f6;
  border: 1px solid #9a9a9a;
  color: #999;
}

/* line 1016, ../sass/screen.scss */
.close {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: -20px;
  top: -20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../img/close-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 1027, ../sass/screen.scss */
.close:hover {
  background-color: #219CC5;
}

/* line 1033, ../sass/screen.scss */
.item .form-horizontal > .row label {
  width: 20%;
}
/* line 1036, ../sass/screen.scss */
.item .form-horizontal > .row input {
  width: 36%;
  float: left;
}
/* line 1041, ../sass/screen.scss */
.item .form-horizontal > .row .amout {
  width: 15%;
  margin-left: 20px;
}
/* line 1045, ../sass/screen.scss */
.item .form-horizontal > .row div.amout {
  margin-top: 25px;
  white-space: nowrap;
}
/* line 1049, ../sass/screen.scss */
.item .form-horizontal > .row select {
  width: 52%;
}

/* line 1054, ../sass/screen.scss */
a.lnk-add {
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
/* line 1058, ../sass/screen.scss */
a.lnk-add:before {
  content: '+ ';
  font-size: 28px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  top: 5px;
  position: relative;
}

/* line 1068, ../sass/screen.scss */
span.lnk-add {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-left: 26px;
}
/* line 1073, ../sass/screen.scss */
span.lnk-add:before {
  content: '+ ';
  font-size: 28px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  top: -6px;
  height: 20px;
  left: 0;
  position: absolute;
}

/* line 1086, ../sass/screen.scss */
.border-text span {
  display: inline-block;
  padding: 5px 18px;
  border: 1px solid #249dc6;
  margin-top: 6px;
  color: #249dc6;
  margin-right: 8px;
  margin-bottom: 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 1098, ../sass/screen.scss */
.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 10px;
}
/* line 1106, ../sass/screen.scss */
.icon.del {
  background-image: url(../img/del-icon.png);
}
/* line 1109, ../sass/screen.scss */
.icon.edit {
  background-image: url(../img/edit-icon.png);
  background-size: cover;
}

/* line 1114, ../sass/screen.scss */
.dark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  z-index: 111;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 1126, ../sass/screen.scss */
.dialog {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 1130, ../sass/screen.scss */
.dialog .dialog-cont {
  display: table-cell;
  vertical-align: middle;
}
/* line 1134, ../sass/screen.scss */
.dialog input {
  margin: 0 10px;
}

/* line 1139, ../sass/screen.scss */
textarea.w80 {
  width: 80%;
}

/* line 1143, ../sass/screen.scss */
.normal {
  font-weight: normal;
}

/* line 1147, ../sass/screen.scss */
.status i {
  background-image: url(../img/status-icons.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}
/* line 1157, ../sass/screen.scss */
.status .inline {
  margin-left: 8px !important;
}
/* line 1160, ../sass/screen.scss */
.status.noanswer {
  color: #999;
}
/* line 1162, ../sass/screen.scss */
.status.noanswer i {
  background-position: 0 50%;
}
/* line 1166, ../sass/screen.scss */
.status.decline {
  color: #d75341;
}
/* line 1168, ../sass/screen.scss */
.status.decline i {
  background-position: -37px 50%;
}
/* line 1172, ../sass/screen.scss */
.status.accept {
  color: #52b266;
}
/* line 1174, ../sass/screen.scss */
.status.accept i {
  background-position: -75px 50%;
}

/* line 1179, ../sass/screen.scss */
.edit-lnk {
  text-decoration: none;
}
/* line 1181, ../sass/screen.scss */
.edit-lnk i {
  margin-right: 8px;
}

/* line 1185, ../sass/screen.scss */
.hidden {
  display: none;
}
/* line 1187, ../sass/screen.scss */
.hidden p:last-child {
  margin-bottom: 0;
}

/* line 1191, ../sass/screen.scss */
.nowrap {
  white-space: nowrap;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3) {
  /* line 1195, ../sass/screen.scss */
  .container {
    padding: 0 20px;
  }

  /* line 1198, ../sass/screen.scss */
  #head .search input[type="submit"] {
    margin-left: 8px;
  }

  /* line 1201, ../sass/screen.scss */
  #head .logo {
    padding-right: 20px;
  }

  /* line 1204, ../sass/screen.scss */
  #head .search input[type="text"] {
    min-width: 200px;
  }

  /* line 1208, ../sass/screen.scss */
  #main .col.m140 .rcol span.inline {
    display: none;
  }

  /* line 1212, ../sass/screen.scss */
  .soc-login.small li {
    margin-left: 2px;
  }
}
